/* Countdown
 * =============== */

.countdown-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.countdown {
  background-color: $bg-color;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 2rem;
  position: relative;
  transform: translateY(-50%);

  .t-container {
    align-items: center;
    background-color: $surface-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    padding: 1rem 1rem 0 1rem;
    width: 15rem !important;

    .val {
      color: $text-color;
      font-family: $font-sans;
      font-size: 15 * $base-size;
      font-weight: 600;
      margin: 0;
      padding: 1rem 3rem 0;
    }

    .label {
      color: $text-color;
      font-family: $font-sans;
      font-size: 1.2 * $text-size;
      font-weight: 400;
      margin: 0;
      padding: 0;
      transform: translateY(-1.5rem);
    }

    &.accent {
      background-color: $accent-color;

      .val {
        color: #fff;
      }

      .label {
        color: #fff;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .countdown {
    transform: scale(0.85) translateY(-57.5%);

    .t-container {

      .val {
        font-size: 15 * $base-size;
      }

      .label {
        font-size: .9 * $text-size;
        padding-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .countdown {
    transform: scale(0.75) translateY(-66%);
    flex-wrap: wrap;

    .t-container {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 25%;

      &:nth-of-type(3),
      &:nth-of-type(4) {
        margin-top: 2rem;
      }

      &:nth-of-type(2),
      &:nth-of-type(4) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .countdown {
    transform: scale(0.85) translateY(-58%);

    .t-container {
      width: 10rem !important;

      .val {
        font-size: 11 * $base-size;
      }

      .label {
        font-size: 1.2 * $text-size;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .countdown {
    .t-container {
      .val {
        font-size: 9 * $base-size;
      }

      .label {
        font-size: 1.1 * $text-size;
      }
    }
  }
}

@media screen and (max-width: 445px) {
  .countdown {
    transform: scale(0.8) translateY(-61%);

    .t-container {
      width: 8rem !important;
    }
  }
}

@media screen and (max-width: 381px) {
  .countdown {
    .t-container {
      width: 6rem !important;

      .val {
        font-size: 7.5 * $base-size;
      }

      .label {
        font-size: 1 * $text-size;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .countdown {
    .t-container {
      .val {
        font-size: 6 * $base-size;
      }

      .label {
        padding-top: 20px;
        font-size: .85 * $text-size;
      }
    }
  }
}
